.result {
  display: none;
}

ul {
  list-style-type: none;
}

body {
  text-align: center;
  margin: 10px;
  background: #aec33a;
  color: #253f58;
}

img {
  width: 50px;
  font-weight: bold;
}

h1 {
  color: #d92139;
}
em {
  color: #d92139;
  font-size: 20px;
  font-weight: bolder;
}

/* .form-control{
  width: 50%;
  align-self: center;
} */

form {
  margin: 20px;
}
